/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
  }

  .btn {
    padding: 10px 30px;
  }

  .h1 {
    font-size: 5.6rem;
  }

  .h2 {
    font-size: 3.6rem;
  }

  /**
   * HERO
   */

  .hero {
    padding-block: 170px 100px;
  }

  .hero-text {
    font-size: 2rem;
  }

  .hero .btn {
    margin-block: 25px 80px;
  }

  .hero .social-title {
    font-size: 1.6rem;
  }

  .hero .social-link {
    padding: 15px;
  }




}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .section {
    padding-block: 80px;
  }

  .h1 {
    font-size: 6.4rem;
  }

  .h2 {
    font-size: 5.7rem;
  }



  /**
   * HEADER
   */

  .logo {
    font-size: 35px;
  }
  
  /**
   * HERO
   */

  .hero-title {
    max-width: 15ch;
  }

}



/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 960px;
  }

  .section {
    padding-block: 100px;
  }

  .btn {
    font-size: unset;
    padding: 13px 40px;
  }



  /**
   * HEADER
   */

  .nav-toggle-btn,
  .overlay {
    display: none;
  }

  .header {
    padding-block: 20px;
  }

  .navbar,
  .navbar.active,
  .navbar-list,
  .navbar-item {
    all: unset;
  }

  .navbar {
    margin-inline-start: auto;
  }

  .header .btn {
    margin-inline-start: 0;
  }

  .navbar-list {
    display: flex;
  }

  .navbar-link {
    font-size: unset;
    padding-inline: 15px;
    transition: 0.25s ease;
  }

  .navbar-link:is(:hover, :focus) {
    color: #FFA200;
  }


}



/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1200px;
  }

  .section {
    padding-block: 140px;
  }

  .h1 {
    font-size: 8rem;
  }



  /**
   * HEADER
   */

  .header .container {
    gap: 35px;
  }

  .navbar-link {
    padding-inline: 25px;
  }

  /**
   * HERO
   */

  .hero {
    padding-block: 200px 100px;
    background-position: 35%;
  }




}

