*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  color: #52565B;
  font-size: 1.6rem;
  line-height: 1.75;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FAFAFA;
}

::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #B2B2B2;
}



/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.btn {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 600;
  max-width: max-content;
  padding: 8px 20px;
  border-radius: 50px;
  transition: 0.25s ease;
}

.btn-primary,
.btn-secondary:is(:hover, :focus) {
  background-color: #0A4D3C;
}

.btn-secondary,
.btn-primary:is(:hover, :focus) {
  background-color: #FFA200;
}

.section {
  padding-block: 60px;
}

.h1,
.h2,
.h3 {
  color: #2C241B;
  font-family: 'Playfair Display', serif;
  line-height: 1.1;
}

.h1 {
  font-size: 3.6rem;
}

.h2 {
  font-size: 2.4rem;
}

.h3 {
  font-size: 2rem;
}

.grid-list {
  display: grid;
  gap: 50px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: #CCCCCC;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  color: var(--color, #0A4D3C);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
}

.section-title {
  text-align: center;
}

.section-text {
  font-size: 1.5rem;
}

.title-wrapper {
  position: relative;
  padding-block: 40px;
  margin-block-end: 50px;
  z-index: 1;
}

.title-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 160px;
  background-image: url('../images/title-shape-white.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.card-link {
  color: #9B9EA1;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.card-link .span {
  display: inline-block;
  color: #2C241B;
  transition: 0.5s ease;
}

.card-meta-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.card-meta-item {
  position: relative;
  color: #FFA200;
  font-size: 1.4rem;
}

.card-meta-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -15px;
  width: 4px;
  height: 4px;
  background-color: #0A4D3C;
  border-radius: 50%;
}

[data-section]>* {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease;
}

[data-section].active>* {
  opacity: 1;
  transform: translateY(0);
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding-block: 15px;
  z-index: 4;
  transition: 0.25s ease;
}

.header.active {
  box-shadow: 2px 4px 8px #21273126;
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.logo {
  color: #2C241B;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
}

.logo .span {
  display: inline-block;
  color: #FFA200;
}

.header .btn {
  margin-inline-start: auto;
}

.nav-toggle-btn {
  font-size: 40px;
  color: #2C241B;
}

.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  visibility: hidden;
  transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  z-index: 2;
}

.navbar.active {
  transform: translateX(100%);
  visibility: visible;
  transition: 0.5s cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

.navbar .nav-toggle-btn {
  font-size: 35px;
  position: absolute;
  top: 25px;
  right: 20px;
}

.navbar .nav-toggle-btn ion-icon {
  --ionicon-stroke-width: 25px;
}

.navbar-list {
  margin-block-start: 110px;
  border-block-end: 1px solid #0A4D3C1A;
}

.navbar-item {
  border-block-start: 1px solid #0A4D3C1A;
}

.navbar-link {
  color: #2C241B;
  padding: 13px 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000080;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}



/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block: 130px 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
}

.hero-subtitle {
  color: #0A4D3C;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-title {
  margin-block: 16px 30px;
}

.hero-text {
  color: #2C241B;
  font-weight: 600;
}

.hero .btn {
  margin-block: 20px;
}

.hero :is(.social-wrapper, .social-list) {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero .social-title {
  color: #2C241B;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero .social-link {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #0A4D3C1A;
  border-radius: 50%;
  transition: 0.25s ease;
}

.hero .social-link:is(:hover, :focus) {
  background-color: #0A4D3C;
  border-color: #0A4D3C;
  color: #FFFFFF;
}


/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-card {
  padding-inline: 25px;
  text-align: center;
}

.service-card .card-icon {
  position: relative;
  background-color: #F7F5F3;
  max-width: max-content;
  margin-inline: auto;
  padding: 40px;
  border-radius: 50%;
  margin-block-end: 40px;
  overflow: hidden;
  transition: 0.25s ease;
  z-index: 1;
}

.service-card .card-icon::before,
.service-card .card-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: 0.25s ease;
  z-index: -1;
}

.service-card .card-icon::before {
  background-color: #0A4D3C;
  transform: translateY(120px);
}

.service-card .card-icon::after {
  background-color: #FFA200;
  transform: translateY(150px);
}

.service-card:is(:hover, :focus-within, .active) .card-icon::before {
  transform: translateY(0);
}

.service-card:is(:hover, :focus-within, .active) .card-icon::after {
  transform: translateY(120px);
}

.service-card .card-icon img {
  transition: 0.25s ease;
}

.service-card:is(:hover, :focus-within, .active) .card-icon img {
  filter: grayscale(1) brightness(0) invert(1);
}

.service-card .h3 {
  font-size: 2.4rem;
}

.service-card .card-title {
  transition: 0.25s ease;
}

.service-card .card-title:is(:hover, :focus) {
  color: #FFA200;
}

.service-card .card-text {
  font-size: 1.5rem;
  margin-block: 20px 35px;
}

.service-card .btn {
  margin-inline: auto;
  font-size: 18px;
  padding: 0;
  max-width: 60px;
  height: 60px;
  display: grid;
  place-content: center;
}


/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  background-color: #F7F5F3;
  overflow: hidden;
}

.about-banner {
  position: relative;
  margin-block-end: 50px;
}

.about-banner::before,
.about-banner::after {
  content: "";
  position: absolute;
}

.about-banner::before {
  top: -20px;
  left: -20px;
  width: 100px;
  height: 100px;
  background-image: url('../images/about-shape-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: rotate360 8s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

.about-banner::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 50%, #0A4D3C99);
}

.about-banner .btn {
  position: absolute;
  min-width: max-content;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.about-content {
  position: relative;
  background-color: #FFFFFF;
  padding: 40px;
  z-index: 1;
}

.about-content::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -20px;
  width: 110px;
  height: 110px;
  background-image: url('../images/about-shape-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.about :is(.section-subtitle, .section-title) {
  text-align: left;
}

.about .section-title {
  margin-block-end: 20px;
}

.about-h3 {
  color: #0A4D3C;
  font-size: 2.4rem;
  font-weight: 600;
  margin-block: 30px 10px;
}



/*-----------------------------------*\
  #COURSE
\*-----------------------------------*/

.course-card .card-banner { margin-block-end: 30px; }

.course-card .card-content {
  position: relative;
  padding: 20px;
  padding-block-end: 15px;
}

.course-card .card-price {
  background-color: #0A4D3C;
  color: #FFFFFF;
  font-weight: 700;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  margin-inline: auto;
  margin-block-start: -80px;
  margin-block-end: 20px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.course-card .card-title {
  margin-block: 10px 20px;
  transition: 0.25s ease;
}

.course-card .card-title:is(:hover, :focus) { color: #FFA200; }



